.card {
    background-color: #EBD9FF;
    opacity: 80%;
    width: 450px;
    min-height: 360px;
    height: auto;
    text-align: center;
    padding: 0 20px;
    border-radius: 10px;
}

.title {
    margin-top: 50px;
}

.title,
.paragraph {
    background-color: inherit;
}