* {
  background-color: mediumpurple;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  font-family: 'Lato';
  font-size: 18px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EBD9FF;
  width: 100vw;
  height: 30px;
  padding-left: 20px;
}

.pages {
  padding: 6px 20px;
  font-size: 16px;
  background-color: #EBD9FF;
  border: none;
}

.pages:hover {
  font-weight: bold;
  cursor: pointer;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  min-height: 240px;
  height: auto;
}