.contactInfo,
.information {
    background-color: inherit;
}

.information {
    margin: -10px 0;
}

.contactInfo p {
    margin-bottom: 30px;
}

.directSocials {
    background-color: inherit;
    position: relative;
    left: -145px;
}