.featured {
    width: 80vw;
    text-align: center;
    background-color: #EBD9FF;
    color: #343434;
    opacity: 80%;
    margin: 10px 0;
    position: relative;
    left: 10%;
}

.featured h2,
.featured img,
.featured div,
.featured p {
    background-color: inherit;
}