.article {
    background-color: #EDDEFF;
    opacity: 85%;
    width: 80vw;
    padding: 0 80px;
    font-size: 16px;
    overflow-y: hidden;
}

.articleImg {
    text-align: center;
    background-color: inherit;
    margin: 30px 0 0 40px;
    height: 500px;
    width: 800px;
}

.articleTitle {
    background-color: inherit;
    opacity: 80%;
    padding: 20px;
    text-align: center;
    margin-top: -110px;
}

.articleGoal,
.articleLF,
.articleFeatures,
.articleProcess,
.articleLink,
.articleTags {
    background-color: inherit;
    opacity: 80%;
    font-size: 16px;
    padding: 5px 0;
}