.articleTitle {
    background-color: white;
    opacity: 80%;
    padding: 20px;
    text-align: center;
}

.articleGoal,
.articleLF,
.articleFeatures,
.articleProcess,
.articleLink,
.articleTags {
    background-color: white;
    opacity: 80%;
    font-size: 16px;
    padding: 5px 0;
}