.article {
    background-color: #EDDEFF;
    opacity: 85%;
    width: 80vw;
    padding: 0 80px;
    font-size: 16px;
    overflow-y: hidden;
}

.articleImg {
    text-align: center;
    background-color: inherit;
    margin-top: 30px;
}

.articleTitle {
    background-color: inherit;
    opacity: 80%;
    padding: 20px;
    text-align: center;
}

.articleGoal,
.articleLF,
.articleFeatures,
.articleProcess,
.articleLink,
.articleTags {
    background-color: inherit;
    opacity: 80%;
    font-size: 16px;
    padding: 5px 0;
}