.navbar {
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #EBD9FF;
    opacity: 80%;
    width: 100vw;
    height: 30px;
    padding-left: 20px;
}

.pages {
    padding: 0 20px;
    background-color: #EBD9FF;
    opacity: 80%;
}

.pages:hover {
    font-weight: bold;
    cursor: pointer;
}