.servicesDiv {
    background-color: #EBD9FF;
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
    height: 250px;
    width: 80vw;
    position: relative;
    left: 10%;
}

.servicesDiv h2,
.service {
    background-color: #EBD9FF;
    opacity: 80%;
}

.services {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.service,
.service p {
    background-color: #EDDEFF;
    width: 240px;
    height: 150px;
    padding: 10px 0;
    overflow-y: hidden;
}

.service p {
    margin-top: -5px;
}